<div class="register-form box box-info">
  <div class="box-header with-border">
    <h1>Register</h1>
  </div>
  <%= form_for(@user, :html => {:class => 'form-horizontal' }) do |f| %>
    <% if @user.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@user.errors.count, "error") %> prohibited this @user from being saved:</h2>
        <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="box-body">
    <div class="form-group">
      <label class="control-label col-sm-2">Full name</label>
      <div class="input-group col-sm-5">
        <span class="input-group-addon"><%= fa_icon 'child' %></span>
        <%= f.text_field :fullname, :class => 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-2">User name</label>
      <div class="input-group col-sm-5">
        <span class="input-group-addon"><%= fa_icon 'user' %></span>
        <%= f.text_field :username, :class => 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-2">Email</label>
      <div class="input-group col-sm-5">
        <span class="input-group-addon">@</span>
        <%= f.email_field :email, :class => 'form-control' %>
      </div>
    </div>
  </div>
  <div>
    <div class="box-footer">
      <%= f.submit 'Register', :class=> 'btn btn-info pull-left' %>
    </div>
  </div>
  <% end %>
</div>