<div class="run">
  <div class="run-header">
    <%= form_tag '', :method => :get do %>
      <%= select_tag(:type, options_for_select(@run_types), :include_blank => 'Run type') %>
      <%= submit_tag 'Filter', name: nil %>
    <% end %>
    <div class="run-actions">
      <%= link_to new_run_path do %>
        <i class="fa fa-plus-circle" ></i>
      <% end %>
    </div>
  </div>
  <div class="run-body">
      <% @grouped.each do |month, runs| %>
        <h3><%= month %></h3>
        <% runs.each do |run| %>
          <div class="run-table-row">
            <div>
              <div class="run-date"><%= run.format_date %></div>
              <div class="run-name"><%= run.name %></div>
              <% if run.run_type %>
                <div class="run-type">
                  <%= link_to runs_path(:type => run.run_type.id) do %>
                    <%= run.run_type.name %>
                  <% end %>
                </div>
              <% end %>
            </div>
            <div class="run-column">
              <div>
                <span><i class="fa fa-paw"></i></span>
                <%= run.format_pace %>
                <span>min/km</span>
              </div>
              <div>
                <span><i class="fa fa-heartbeat"></i></span>
                <%= run.heartrate %>
                <span>bpm</span>
              </div>
            </div>
            <div class="run-column">
              <div>
                <span><i class="fa fa-hourglass-half"></i></span>
                <%= run.format_duration %>
              </div>
              <div>
                <span><i class="fa fa-road"></i></span>
                <%= run.distance %>
                <span>km</span>
              </div>
              <div>
                <span><i class="fa fa-thermometer"></i></span>
                <%= run.weather %>
                <span>°C</span>
              </div>
            </div>

            <div class="run-actions">
              <%= link_to run do %>
                <i class="fa fa-info-circle"></i>
              <% end %>
              <%= link_to edit_run_path(run) do %>
                <i class="fa fa-pencil"></i>
              <% end %>
              <%= link_to run, method: :delete, data: { confirm: 'Are you sure?' } do %>
                <i class="fa fa-trash"></i>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>
  </div>
</div>
