<div class="run">
  <div class="run-header">
    <div>
      <span>Overall distance</span>
      <span><%= fa_icon "road"%><%= number_to_human(@distance, units: {unit: "km"}, precision: 3) %></span>
    </div>
    <div>
      <span>Total runs</span>
      <%= @count %>
    </div>
    <div>
      <span>ran overall</span>
      <span><%= fa_icon "clock-o"%><%= @time %></span>
    </div>
    <div class="run-actions">
      <%= link_to new_run_path do %>
        <%= fa_icon "plus-circle" %>
      <% end %>
    </div>
  </div>
  <div class="run-body">
      <% @grouped.each do |month, runs| %>
        <h3><%= month %></h3>
        <% runs.each do |run| %>
          <div class="run-table-row">
            <div>
              <div class="run-date"><%= run.format_date %></div>
              <div class="run-type"><%= run.run_type %></div>
            </div>
            <div class="run-column">
              <div>
                <span><%= fa_icon "paw"%></span>
                <%= run.format_pace %>
                <span>min/km</span>
              </div>
              <div>
                <span><%= fa_icon "heartbeat" %></span>
                <%= run.heartrate %>
                <span>bpm</span>
              </div>
            </div>
            <div class="run-column">
              <div>
                <span><%= fa_icon "hourglass-half"%></span>
                <%= run.format_duration %>
              </div>
              <div>
                <span><%= fa_icon "road"%></span>
                <%= run.distance %>
                <span>km</span>
              </div>
              <div>
                <span><%= fa_icon "thermometer"%></span>
                <%= run.weather %>
                <span>°C</span>
              </div>
            </div>

            <div class="run-actions">
              <%= link_to run do %>
                <%= fa_icon "info-circle" %>
              <% end %>
              <%= link_to edit_run_path(run) do %>
                <%= fa_icon "pencil" %>
              <% end %>
              <%= link_to run, method: :delete, data: { confirm: 'Are you sure?' } do %>
                <%= fa_icon "trash" %>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>
  </div>
</div>
