<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @run.date %>
</p>

<p>
  <strong>Resting pulse:</strong>
  <%= @run.resting_pulse %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @run.weight %>
</p>

<p>
  <strong>Type:</strong>
  <%= @run.type %>
</p>

<p>
  <strong>Pace:</strong>
  <%= @run.pace %>
</p>

<p>
  <strong>Heartrate:</strong>
  <%= @run.heartrate %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @run.duration %>
</p>

<p>
  <strong>Distance:</strong>
  <%= @run.distance %>
</p>

<p>
  <strong>Weather:</strong>
  <%= @run.weather %>
</p>

<p>
  <strong>Remark:</strong>
  <%= @run.remark %>
</p>

<%= link_to 'Edit', edit_run_path(@run) %> |
<%= link_to 'Back', runs_path %>
