<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @run.date %>
</p>

<p>
  <strong>Resting pulse:</strong>
  <%= @run.resting_pulse %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @run.weight %>
</p>

<p>
  <strong>Shoe:</strong>
  <%= @run.shoe.name %>
</p>

<p>
  <strong>Name:</strong>
  <%= @run.name %>
</p>

<p>
  <strong>Pace:</strong>
  <%= @run.format_pace %>
</p>

<p>
  <strong>Heartrate:</strong>
  <%= @run.heartrate %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @run.format_duration %>
</p>

<p>
  <strong>Distance:</strong>
  <%= @run.distance %>
</p>

<p>
  <strong>Weather:</strong>
  <%= @run.weather %>
</p>

<p>
  <strong>Remark:</strong>
  <%= @run.remark %>
</p>

<%= link_to 'Edit', edit_run_path(@run) %> |
<%= link_to 'Back', runs_path %>
